<div class="login-container">
  <form #loginUserForm="ngForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <label>Login</label>
      <input name="login" type="text" class="form-control" required [(ngModel)]="user.login" #login="ngModel" />
      <div *ngIf="login.invalid" class="alert-danger">
        <div *ngIf="login.errors.required">Podaj login</div>
      </div>
    </div>
    <div class="form-group">
      <label>Hasło</label>
      <input name="password" type="text" class="form-control" required [(ngModel)]="user.password" #password="ngModel"/>
      <div *ngIf="password.invalid" class="alert-danger">
        <div *ngIf="password.errors.required">Podaj hasło</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Zaloguj</button>
  </form>
</div>