<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/login">Zaloguj</a>
    </li>
    <li>
        <a class="nav-link" routerLink="/board">Tablica</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
