body {
  background-color: #f8f9fa; }

.board-menu {
  padding: 10px;
  padding-bottom: 0; }
  .board-menu .board-filters {
    padding: 10px 0 0 0; }

.task-board-container {
  padding: 10px;
  width: 100%;
  border-color: #d6d6d6; }
  .task-board-container .task-board .task-board-header {
    font-size: 20px;
    font-family: "Courier";
    background-color: #ff6200;
    font-weight: bold;
    color: #fff; }
    .task-board-container .task-board .task-board-header .col {
      padding: 10px 0 10px 0; }
  .task-board-container .task-board .row {
    border: 1px solid;
    border-color: #d6d6d6;
    margin-left: 0px;
    margin-right: 0px; }
    .task-board-container .task-board .row .col {
      height: 100%; }
  .task-board-container .task-board .task-list .col {
    padding-left: 0;
    padding-right: 0; }
    .task-board-container .task-board .task-list .col .task-card {
      background-color: #fffeaa;
      margin: 10px;
      max-width: 450px;
      word-wrap: break-word;
      padding: 5px;
      font-family: "Sans Serif";
      border: 1px solid;
      border-color: #d6d6d6; }
      .task-board-container .task-board .task-list .col .task-card .title {
        font-style: italic;
        font-weight: bold; }
      .task-board-container .task-board .task-list .col .task-card .date {
        font-size: 70%; }
      .task-board-container .task-board .task-list .col .task-card .assignee .assignee-description {
        font-size: 70%; }
      .task-board-container .task-board .task-list .col .task-card .btn-link {
        padding-left: 0; }

.login-container {
  width: 25%;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 3px;
  padding: 30px;
  border-color: #d6d6d6; }
  .login-container button {
    width: 100%; }

/*# sourceMappingURL=board.css.map */
