<div class="board-menu">
  <button class="btn btn-primary" (click)="open(content)"><i class="fa fa-plus"></i> Nowe zadanie</button>
  <button class="btn btn-primary" type="button" 
          (click)="view.settings.filters.collapse = !view.settings.filters.collapse" 
          [attr.aria-expanded]="!view.settings.filters.collapse" 
          aria-controls="boardFilters">
    <span [hidden]="!view.settings.filters.collapse">Pokaż </span>
    <span [hidden]="view.settings.filters.collapse">Ukryj </span> 
    filtry
  </button>
  <div class="board-filters" id="boardFilters" [ngbCollapse]="view.settings.filters.collapse">
    <label>Data od: </label> <input placeholder="yyyy-mm-dd" type="text" />
    <label>Tytuł: </label> <input placeholder="Tytuł" type="text" />
  </div>
</div>
<div class="task-board-container">
  <div class="task-board">
    <div class="row task-board-header">
      <div class="col text-center" *ngFor="let category of categories">{{category}}</div>
    </div>
    <div class="row task-list">
      <div class="col" *ngFor="let category of categories">
           <div class="task-card" *ngFor="let task of tasks | jsonfield: 'status':category">
           <span class="title">{{task.title}}</span><br />
          <span class="date">Utworzono: {{task.date}} </span>
          <hr />
          <span>
            Status:
            <select (change)="onTaskStatusChange($event.target.value, task.id)">
              <option *ngFor="let status of categories" [selected]="status==task.status" value="{{status}}">{{status}}</option>
            </select>
          </span>
          <hr />
          <span class="assignee">Przypisano do: 
            <i><select>
                <option value="{{task.assignee}}">{{task.assignee}}</option>
              </select></i>
          </span>
          <hr />
          <span class="description" [hidden]="!showDescription(task.id)">
            <p>{{task.description}}</p>
            <button class="btn btn-link">Edytuj opis</button>
          </span>
          <button class="btn btn-link" (click)="changeTaskDisplayStatus(task.id)" [hidden]="showDescription(task.id)">Pokaż opis</button>
          <button class="btn btn-link" (click)="changeTaskDisplayStatus(task.id)" [hidden]="!showDescription(task.id)">Ukryj opis</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nowe zadanie</h4>
    <button type="button" class="close" aria-label="Zamknij" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #newTaskForm="ngForm">
      <div class="form-group">
        <label>Tytuł</label>
        <small class="form-text text-muted">Maksymalnie 100 znaków</small>
        <input id="title" name="title" type="text" class="form-control" required maxlength="100" [(ngModel)]="newTask.title" #title="ngModel" />
        <div *ngIf="title.invalid" class="alert-danger">
          <div *ngIf="title.errors.required">Pole wymagane.</div>
          <div *ngIf="title.errors.maxlength">Maksymalna długość pola wynosi 100 znaków.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Opis</label>
        <small class="form-text text-muted">Maksymalnie 300 znaków.</small>
        <textarea name="description" class="form-control" maxlength="300" [(ngModel)]="newTask.description" #description="ngModel"></textarea>
        <div *ngIf="description.invalid" class="alert alert-danger">
          <div *ngIf="description.errors.maxlength">Maksymalna długość pola wynosi 300 znaków.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Assignee</label>
        <select name="assignee" class="form-control" [(ngModel)]="newTask.assignee">
        </select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Zapisz</button>
  </div>
</ng-template>