$main-color: #ff6200;
$border-color: #d6d6d6;
$header-font-family: "Courier";

body{
  background-color: #f8f9fa;
}

.board-menu{
  padding: 10px;
  padding-bottom: 0;
  
  .board-filters {
    padding: 10px 0 0 0;
  }
}

.task-board-container{
  padding: 10px;
  width: 100%;
  border-color: $border-color;


  .task-board{

    .task-board-header{
      font-size: 20px;
      font-family: $header-font-family;
      background-color: $main-color;
      font-weight: bold;
      color: #fff;
      .col{
        padding: 10px 0 10px 0;
      }
    }

    .row{
      border: 1px solid;
      border-color: $border-color;
      margin-left: 0px;
      margin-right: 0px;

      .col{
        height: 100%;
      }
    }

    .task-list{
      .col{
        padding-left: 0;
        padding-right: 0;

        .task-card{
          background-color: #fffeaa;
          margin: 10px;
          max-width: 450px;
          word-wrap: break-word;
          padding: 5px;
          font-family: "Sans Serif";
          border: 1px solid;
          border-color: $border-color;
          .title{
            font-style: italic;
            font-weight: bold;
          }
          .date{
            font-size: 70%;
          }
          .assignee{
            .assignee-description{
              font-size: 70%;
            }
          }
          .btn-link{
            padding-left: 0;
          }
        }
      }
    }
  }
}

.login-container{
  width: 25%;
  margin: 0 auto;
  border: 1px solid;
  border-radius: 3px;
  padding: 30px;
  border-color: $border-color;
  button{
    width: 100%;
  }
}